.catalog {
  padding: 30px 30px 0 30px;
}

.catalog__list {
  .reset-spacing();
  list-style: none;
}

.catalog__item {
  margin-bottom: 30px;

  border: 1px solid #ececec;
}

.catalog__image {
  margin: 0 auto;
}

.catalog__title {
  margin: 0;
  padding: 20px 30px 5px 30px;

  color: @black;
  font-weight: 700;
}

.catalog__title a {
  font-size: 17px;
}

.catalog__params {
  margin: 0;
  padding: 0 30px 15px 30px;

  font-size: 13px;
  line-height: 30px;
  color: @base-text-color;
}

.catalog__order {
  display: flex;
  justify-content: space-between;

  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;

  border-top: 1px solid #ececec;
}

.catalog__order--icon {
  opacity: 0.2;
}

.catalog__price {
  font-size: 15px;
  font-weight: 700;
}
