.input__text {
  width: 100%;

  padding-left: 0;
  padding-top: 18px;
  padding-bottom: 17px;

  background-color: #ffffff;
  border: none;
  box-shadow: inset 0 -2px 0 0 @black;
}

.input__text::placeholder,
.filter__more-field::placeholder {
  font-size: 17px;
  color: rgba(68, 68, 68, 0.3);
}
