.main-cats {
  width: 320px;
  margin: auto;
  margin-top: -91px;
}

.main-cats .container {
  padding: 0;
}

.main-cats__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .reset-spacing();
  list-style: none;
}

.main-cats__item {
  position: relative;
}

.main-cats__item:nth-child(odd) {
  background-color: @seafoam-blue;
}

.main-cats__item:nth-child(even) {
  background-color: @greeny-blue;
}

.main-cats__item:hover {
  margin-top: -5px;
}

.main-cats__item:hover a {
  color: #ffffff;
}

.main-cats__item:active a {
  color: rgba(255, 255, 255, 0.3);
}

.main-cats__link {
  min-height: 103px;

  padding-top: 25px;
  padding-bottom: 26px;
  padding-left: 28px;
  padding-right: 120px;

  display: block;

  font-size: 19px;
  font-weight: 700;
  line-height: @base-line-height;
  color: #ffffff;
}

.main-cats__link svg {
  fill: #149080;
  opacity: 0.5;
}

.main-cats__link-interior svg {
  position: absolute;

  right: 36px;
  top: 23px;
}

.main-cats__link-toys svg {
  position: absolute;

  right: 27px;
  top: 21px;
}

@media (min-width: @tablet-width) {
  .main-cats {
    position: relative;
    width: 668px;
    margin: -120px auto 0 auto;
  }

  .main-cats .container {
    padding: 0 50px;
  }

  .main-cats__list {
    flex-direction: row;
  }

  .main-cats__item {
    width: 50%;
  }

  .main-cats__link {
    padding-top: 28px;
    padding-left: 36px;
    padding-bottom: 35px;
    line-height: 29px;
    font-size: 20px;
  }

  .main-cats__link-interior svg {
    top: 30px;
  }

  .main-cats__link-toys svg {
    top: 31px;
    right: 34px;
  }
}

@media (min-width: @desktop-width) {
  .main-cats {
    width: 1050px;
    margin: -120px auto 0 auto;
  }

  .main-cats__link {
    padding-top: 28px;
    padding-bottom: 32px;
    padding-right: 310px;
  }
}
