.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 30px;

  .reset-spacing();

  border: 0;
  background-color: transparent;
}

.main-nav a {
  display: block;

  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 75px;

  font-size: 17px;
  font-weight: 700;
  color: @black;

  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
}

.main-nav__search,
.main-nav__cart {
  position: relative;
}

.main-nav__search--icon,
.main-nav__cart--icon {
  position: absolute;
  left: 35px;
  top: 34px;

  opacity: 0.2;
}

.main-nav__cart--icon {
  top: 33px;
}
