.main-cats {
  width: 320px;
  margin: auto;
  margin-top: -91px;
}

.main-cats .container {
  padding: 0;
}

.main-cats__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .reset-spacing();
  list-style: none;
}

.main-cats__item {
  position: relative;
}

.main-cats__item:nth-child(odd) {
  background-color: @seafoam-blue;
}

.main-cats__item:nth-child(even) {
  background-color: @greeny-blue;
}

.main-cats__link {
  max-width: 230px;
  min-height: 103px;

  padding-top: 25px;
  padding-bottom: 26px;
  padding-left: 28px;
  padding-right: 26px;

  display: block;

  font-size: 19px;
  font-weight: 700;
  line-height: @base-line-height;
  color: #ffffff;
}

.main-cats__link svg {
  fill: #149080;
  opacity: 0.5;
}

.main-cats__link--interior {
  position: absolute;

  right: 36px;
  top: 23px;
}

.main-cats__link--toys {
  position: absolute;

  right: 27px;
  top: 21px;
}

@media (min-width: @tablet-width) {
  .main-cats {
    position: relative;
    width: 668px;
    margin: -120px auto 0 auto;
  }

  .main-cats .container {
    padding: 0 50px;
  }

  .main-cats__list {
    flex-direction: row;
  }

  .main-cats__item {
    width: 50%;
  }

  .main-cats__link {
    padding: 35px;
  }

  .main-cats__link--interior,
  .main-cats__link--toys {
    top: 30px;
  }
}

@media (min-width: @desktop-width) {
  .main-cats {
    width: 1050px;
    margin: -60px auto 0 auto;
  }
}
