.page-title {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;

  background-color: #f1f1f1;
  text-align: center;
}

.page-title__homepage {
  height: 373px;

  padding-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;

  background-image: url("../img/hero-desktop-jpg.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -18px;
  background-size: cover;
}

@media (min-width: @tablet-width) {
  .page-title__homepage {
    height: 746px;
    background-image: url("../img/hero-desktop-jpg@2x.png");
  }
}

.page-title__text {
  max-width: 320px;
  padding: 0;
  margin: 0 auto;

  color: @black;
  font-weight: 700;
  font-size: @base-h1-size;
  line-height: 30px;
}

@media (min-width: @tablet-width) {
  .page-title__text {
    max-width: 500px;
    margin: auto;
    padding-top: 65px;

    font-size: 43px;
    line-height: 50px;
  }
}
