.page-footer {
  padding: 30px;
  background-color: #f1f1f1;
}

.social__list {
  display: flex;
  justify-content: space-evenly;
  .reset-spacing();
  padding-bottom: 25px;

  list-style: none;
  border-bottom: 1px solid #e8e8e8;
}

.page-footer__developer {
  display: flex;
  justify-content: space-evenly;

  padding-top: 25px;
}

.developer__title {
  .reset-spacing();

  font-size: 19px;
  font-weight: bold;
  color: @black;
}

.developer__logo--svg {
  fill: @seafoam-blue;
}
