.page-footer__logo {
  display: none;
}

.page-footer {
  margin-top: 30px;

  background-color: #f1f1f1;
}

.page-footer svg:hover,
.page-footer svg:focus {
  fill: #46c1ae;
  cursor: pointer;
}

.page-footer svg:active {
  opacity: 0.3;
}

.page-footer__catalog {
  margin-top: 61px;
}

.page-footer__social-list {
  display: flex;
  justify-content: space-evenly;
  .reset-spacing();
  padding-bottom: 21px;
  margin-left: 15px;
  margin-right: 21px;
  /* margin-bottom: 9px; */
  margin-top: -5px;

  list-style: none;
  border-bottom: 1px solid #e8e8e8;
}

.social-list__item svg {
  margin-top: 5px;
}

.social-list__item:nth-child(2) svg {
  margin-top: 0;
}

.page-footer__developer {
  display: flex;
  justify-content: space-evenly;

  padding-top: 24px;
  padding-bottom: 21px;
}

.developer__logo {
  width: 183px;
  display: flex;
  justify-content: space-between;
}

.developer__title {
  .reset-spacing();
  padding-top: 1px;

  font-size: 19px;
  font-weight: bold;
  color: @black;
}

.developer__logo svg {
  fill: @seafoam-blue;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
    height: 34px;
  }

  .page-footer {
    margin-top: 48px;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .page-footer__catalog {
    margin-top: 62px;
    padding-bottom: 30px;
  }

  .page-footer__social-list {
    justify-content: space-between;
    margin-left: 93px;
    margin-top: 6px;
    padding-bottom: 0;
    border-bottom: 0;
    width: 140px;
  }

  .social-list__item {
    margin-left: 0;
  }

  .page-footer__developer {
    padding-top: 0;
  }

  .page-footer svg:first-child {
    margin-top: -10px;
  }

  .developer__title {
    margin-right: 30px;
    padding-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-bottom: 40px;
    margin-top: 105px;
  }

  .page-footer__catalog {
    margin-top: 105px;
  }

  .page-footer__form {
    margin-top: 51px;
    padding-bottom: 28px;
  }
}
