.page-title {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;

  background-color: #f1f1f1;
  text-align: center;
}

.page-title__homepage {
  width: 320px;
  height: 373px;

  margin: auto;
  padding-top: 83px;
  padding-left: 30px;
  padding-right: 30px;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -10px;
  background-size: cover;
}

.page-title__text {
  .reset-spacing();

  color: @black;
  font-weight: 700;
  font-size: @base-h1-size;
  line-height: @base-line-height;
}
