.process__list {
  .reset-spacing();
  list-style: none;
}

.process__list:hover,
.process__list:focus {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.process__list:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.process__item {
  padding-top: 24px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 29px;
  border: 1px solid #ececec;
}

.process__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .reset-spacing();
  margin-bottom: 23px;
  color: @black;
  font-weight: 700;
}

.process__title-icon {
  display: block;

  min-width: 32px;
  min-height: 22px;
  margin-left: 5px;
  margin-bottom: 5px;
  background-image: url("../img/video-svg.png");
  background-repeat: no-repeat;
}

.process__title-text {
  margin-left: 25px;

  font-size: 17px;
}

.process__video-play {
  margin: 15% auto;
  display: block;

  background: none;
  border: 0;
}

.process__video-thumb {
  width: 260px;
  height: 150px;

  display: block;
  overflow: hidden;

  margin-left: -30px;
  margin-bottom: 27px;

  background-color: #e9e9e9;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

.process__video-play:focus,
.process__video-play:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.process__video-play:active {
  transform: scale(0.8);
  opacity: 0.3;
}

.process__description {
  .reset-spacing();
  margin-bottom: 49px;
  margin-left: 4px;

  font-size: 13px;
}

.process_order {
  width: 192px;
  padding-top: 16px;
  padding-bottom: 12px;
}

@media (min-width: @tablet-width) {
  .process__item {
    display: flex;
    flex-direction: column;

    padding: 0 29px 45px 29px;
    margin-top: 23px;
  }

  .process__video-thumb {
    order: 1;

    width: 668px;
    height: 455px;

    margin-left: -30px;
    margin-bottom: 0;

    background-image: url("../img/video-tablet@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .process__video-play {
    margin: 28% auto;
  }

  .process__title {
    order: 2;
    justify-content: flex-start;

    margin-top: 37px;
    padding: 0 12px;
  }

  .process__title-text {
    margin-left: 33px;
    font-size: 20px;
  }

  .process__title-icon {
    margin-left: 0;
    margin-bottom: 0;
  }

  .process__description {
    order: 3;
    padding-top: 10px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 5px;
    margin-bottom: 30px;

    font-size: 15px;
    line-height: 30px;
  }

  .process_order {
    order: 4;

    width: 584px;

    padding-bottom: 13px;
    padding-top: 15px;
  }
}

@media (min-width: @desktop-width) {
  .process__wrapper {
    margin-top: 0;
    padding-top: 0;
  }

  .process__item {
    position: relative;
    align-items: flex-end;

    min-height: 455px;
  }

  .process__video {
    position: absolute;
    left: 30px;
    top: 0;
  }

  .process__title,
  .process__description {
    width: 230px;
    margin-right: 28px;
    padding: 0;
  }

  .process__title {
    flex-direction: column;
    align-items: flex-start;

    margin-top: 43px;
  }

  .process__title-icon {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .process__title-text {
    margin-left: 0;
    margin-top: 26px;
  }

  .process__description {
    margin-top: 11px;
    margin-bottom: 29px;
  }

  .process__video-thumb {
    order: 1;

    width: 682px;
    height: 455px;

    margin-left: -30px;
    margin-bottom: 0;

    background-image: url("../img/video-desktop@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

  .process_order {
    margin: 0;
    margin-right: 28px;
    margin-top: 16px;
    width: 230px;
  }
}
