.product {
  position: relative;
}

.product__title {
  .reset-spacing();

  color: @black;
  font-weight: 700;
  font-size: @base-h2-size;
}

.product__subtitle {
  .reset-spacing();
  margin-top: 6px;

  font-weight: 700;
  color: @seafoam-blue;
  text-transform: uppercase;
}

.product__description {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: @base-font-size - 1;
}

.product__params {
  width: 100%;
  margin-bottom: 30px;

  border-collapse: collapse;
  border-spacing: 0;
}

.product__params tr {
  border-bottom: 1px solid #eaeaea;
}

.product__params td {
  padding-top: 7px;
  padding-bottom: 7px;

  font-size: @base-font-size - 1;
}

.product__image {
  margin: 0 auto 25px auto;
  display: block;
}

.product__price {
  .reset-spacing();
  margin-bottom: 25px;

  font-size: 17px;
  font-weight: 700;
  color: @greyish-brow;
  text-align: center;
}

.product::after {
  width: 320px;
  height: 6px;
  margin: auto;
  display: block;

  content: "";

  background-image: url("../img/zigzag-line-desktop-svg.svg");
  background-size: cover;
}
