.product {
  padding: @main-padding;
}

.product__title {
  color: @black;
}

.product__subtitle {
  .reset-spacing();
  margin-top: 6px;

  font-weight: 700;
  color: @seafoam-blue;
  text-transform: uppercase;
}

.product__description {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: @base-font-size - 1;
}

.product__params {
  margin-bottom: 30px;
}

.product__params tr {
  border-bottom: 1px solid #eaeaea;
}

.product__params td {
  padding-top: 7px;
  padding-bottom: 7px;

  font-size: @base-font-size - 1;
}

.product__image {
  margin-bottom: 25px;
}

.product__price {
  margin-bottom: 25px;

  font-size: 17px;
  font-weight: 700;
  color: @greyish-brow;
  text-align: center;
}
