.reviews__wrapper {
  position: relative;
  margin-bottom: 45px;
}

.reviews__title {
  .reset-spacing();
  margin-bottom: 27px;
  margin-top: 24px;

  color: @black;
  font-size: @base-h2-size;
  font-weight: 700;
}

.reviews__item {
  .reset-spacing();
}

.reviews__text {
  .reset-spacing();
  margin-bottom: 27px;

  font-size: @base-font-size - 1px;
  line-height: 30px;
}

.reviews__author-name {
  font-size: @base-font-size + 1px;
  font-weight: bold;
  font-style: normal;
  color: @black;
  line-height: 28px;
}

.reviews__author-address {
  margin-bottom: 32px;

  font-size: @base-font-size + 1px;
  line-height: @base-line-height + 4px;
  font-style: normal;
}

.reviews__navigation {
  display: flex;
  margin-bottom: 37px;
}

.reviews::after {
  width: 320px;
  height: 6px;

  margin: 45px auto 0 auto;
  display: block;

  content: "";

  background-image: url("../img/zigzag-line-desktop-svg.svg");
  background-size: cover;
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    min-height: 457px;

    background-image: url("../img/review.png");
    background-repeat: no-repeat;
  }

  .reviews__title {
    order: 1;

    margin-top: 45px;
    margin-bottom: 41px;
    margin-left: -5px;
    padding-right: 75px;

    max-width: 490px;

    overflow: hidden;

    word-wrap: break-word;
    font-size: 43px;
    line-height: 45px;
  }

  .reviews__text {
    margin-bottom: 55px;

    font-size: 17px;
    line-height: 30px;
  }

  .reviews::after {
    width: 768px;
    height: 15px;

    margin-top: 70px;
  }

  .reviews__write {
    order: 2;
    width: 175px;
    margin: 0;
    margin-top: 45px;
  }

  .reviews__wrapper-slider {
    order: 3;
  }

  .reviews__navigation {
    order: 4;

    margin-left: auto;
    margin-top: -91px;
    padding-right: 13px;
  }

  .reviews__author-name {
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    padding-left: 225px;

    background-position-x: 50px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews::after {
    margin-top: 73px;

    width: 1050px;
    height: 23px;
  }
}
