.reviews {
  position: relative;
  margin-bottom: 10px;
}

.reviews__title {
  .reset-spacing();
  margin-bottom: 30px;

  color: @black;
  font-size: @base-h2-size;
  font-weight: 700;
}

.reviews__item {
  .reset-spacing();
}

.reviews__text {
  .reset-spacing();
  margin-bottom: 30px;

  font-size: @base-font-size - 1px;
  line-height: @base-line-height + 4px;
}

.reviews__author-name {
  font-size: @base-font-size + 1px;
  font-weight: bold;
  font-style: normal;
  color: @black;
}

.reviews__author-address {
  margin-bottom: 30px;

  font-size: @base-font-size + 1px;
  line-height: @base-line-height + 4px;
  font-style: normal;
}

.reviews__navigation {
  display: flex;
}

.reviews::after {
  width: 320px;
  height: 6px;

  margin: auto;
  display: block;

  content: "";

  background-image: url("../img/zigzag-line-desktop-svg.svg");
  background-size: cover;
}
