.slider {
  display: flex;
}

.reviews__navigation-toggle {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1px;

  background-color: @white;
  border: 1px solid #ececec;
  cursor: pointer;
}

.reviews__navigation-toggle:focus {
  outline: none;
}

.reviews__navigation-toggle:hover svg,
.reviews__navigation-toggle:focus svg {
  opacity: 0.6;
}

.reviews__navigation-toggle:active svg {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .reviews__navigation-toggle {
    padding-top: 13px;
    padding-left: 31px;
    border: none;
  }
}
