.title-wrapper {
  width: 100%;
  height: 373px;

  text-align: center;
}

.title__wrapper--homepage {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -10px;
}

.page-main__title {
  padding-top: 83px;
  padding-left: 30px;
  padding-right: 30px;

  color: #010000;

  line-height: @base-line-height * 1.11;
}
