html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  .reset-spacing();

  font-family: @base-font-family;
  font-size: @base-font-size;
  color: @base-text-color;
  line-height: @base-line-height;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: @base-text-color;
  text-decoration: none;
}

.page-main__title--h1 {
  font-size: @base-h1-size;
}

.page-main__title--h2 {
  font-size: @base-h2-size;
}

.page-main__title--h1,
.page-main__title--h2,
.page-main__title--h3,
.page-main__title--h4,
.page-main__title--h5 {
  .reset-spacing();

  color: @black;
  font-weight: 700;
}

.page-main__list {
  .reset-spacing();
  list-style: none;
}

.page-main__p {
  .reset-spacing();
}

.page-main__table {
  width: 100%;

  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  padding: 30px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.padding30 {
  padding-left: 30px;
  padding-right: 30px;
}
